
@font-face {
    font-family: 'piedraregular';
    src: url('piedra-regular-webfont.woff2') format('woff2'),
         url('piedra-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{padding: 0;
  margin: 0;
}
body{
  margin: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  background-color: #3A3B3C;
  height: 80px;
}
#contenedor_forma_reg{
  min-height: 1000px;
}

.logo{

  padding-right: 50px;
}

#hummingbird{
  width: 50%;
  height: auto;

}

nav{
  padding: 0px 50px 0px 10px;
  /*
    border: 2px solid red;
    */
}
.titulo{
  padding-right: 200px;
  font-size: 60px;
  font-family: piedraregular;
  color: white;

}


.lista-navegacion{
  display: flex;
  list-style: none;

}
.lista-navegacion > li{
  display: flex;
  background-color: #C2C2C2;
  border-radius: 30px;
  margin: 0px 8px;
  font-family: piedraregular;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 170px;

}

li > a{
  align-items: center;

  color: black;
  font-size: 15px;
  text-decoration: none;
  padding: 0px 5px;
}
ion-icon{
  padding: 0px 5px;
  font-size: 32px;
}

footer{
  background-color: black;
  height: 60px;

}
