<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>Pumaki</title>
  </head>
  <body>



      <header>
        <nav>

          <!--navegacion-->
          <ul class="lista-navegacion">
            <li>
                <a  href="#">INICIO</a><ion-icon name="home-outline"></ion-icon>
            </li>
            <li>
                <a  href="#">COMPRAR</a><ion-icon name="home-outline"></ion-icon>
            </li>
            <li>
                <a  href="#">REGISTRARSE</a><ion-icon name="home-outline"></ion-icon>
            </li>

          </ul>

        </nav>
      </header>
      <!--Describir este elemento-->
      <div class="centro">
        <!--Describir este elemento-->
        <div class="contenido">
        
        	<p th:text="${object.getName() + 100/3 + object.getNumber()}"></p>
        	<br />
        	<p th:text="#{ctx}"></p>

        </div>
      </div>

    <footer></footer>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
