<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{ingreso_style.css}">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
    <title>Ingreso</title>
  </head>
  <header>
    <div class="logo">
      <img id ="hummmingbird" src="../static/logo_small.jpg" alt="hummingbird" th:src="@{logo_small.jpg}">
    </div>
    <div class="titulo">
      <p>Pumaki</p>
    </div>
    <nav>

      <!--navegacion-->
      <ul class="lista-navegacion">
        <li>
            <a  href="index.html" th:href="@{/}">INICIO</a><ion-icon name="home-outline"></ion-icon>
        </li>
        <li>
            <a  href="#" th:href="@{shop}">COMPRAR</a><ion-icon name="cart-outline"></ion-icon>
        </li>
        <li>
            <a  href="#" th:href="@{register}">REGISTRARSE</a><ion-icon name="body-outline"></ion-icon>
        </li>

      </ul>

    </nav>
  </header>
    <body>
      <div class="form">
        <h1>Login</h1>
        <div th:if="${error}">
          Error al ingresar. Verifique su username y contraseña.
        </div>
        <p>¿Primera vez aqui?</p> <span>Haga click <a th:href="@{/register}">aquí</a></span>

        <form th:action="@{login}" method="post" id="login_form">
          <label for="username">Username:</label>
          <input type="text" name="username" value=""><br />
          <label for="password">Password:</label>
          <input type="password" name="password" value=""><br />
          <input type="submit" value="Enviar">
        </form>
      </div>
    </body>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</html>
