<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nuevo producto</title>
    <link rel="stylesheet" type="text/css" href="../static/css/prod_n.css" th:href="@{css/prod_n.css}">
  </head>
  <body>
    <div class="mn_form_div">
        <form class="mn_prod_n_form" action="new_p" method="post" id="form1" th:object="${product}">
          <label for="name">Nombre:</label>
          <input type="text" name="name" value=""><br/>
          <label for="unit">Unidad de medida:</label>
          <input type="text" name="unit" value=""><br/>
          <label for="price">Precio:</label>
          <input type="text" name="price" value=""><br/>
          <label for="img">Nombre de la imagen</label>
          <input type="text" name="img" value=""><br/>
        </form>
        <button type="submit" name="button1" form="form1">Envíar</button>
    </div>

  </body>
</html>
