<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
    <link rel="stylesheet" href="../static/style_shop.css" th:href="@{style_shop.css}">
    <meta charset="utf-8">
    <title>Pumaki</title>
  </head>
  <body>



      <header>
        <div class="logo">
          <img id ="hummmingbird" src="../static/logo_small.jpg" alt="hummingbird" th:src="@{logo_small.jpg}">
        </div>
        <div class="titulo">
          <p>Pumaki</p>
        </div>
        <nav>

          <!--navegacion-->
          <ul class="lista-navegacion">
            <li>
                <a  href="index.html" th:href="@{/}">INICIO</a><ion-icon name="home-outline"></ion-icon>
            </li>
            <li>
                <a  href="#">COMPRAR</a><ion-icon name="cart-outline"></ion-icon>
            </li>
            <li>
                <a  href="#" th:href="@{register}">REGISTRARSE</a><ion-icon name="body-outline"></ion-icon>
            </li>
            <li>
              <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Salir">
              </form>
            </li>

          </ul>

        </nav>
      </header>
      <div class="sticky">
        <a href="checkout"><ion-icon name="cart" id="cart"></ion-icon><h3 id="num">0</h3></a>
      </div>

        <!--Describir este elemento-->
        <div class="contenido_shop" id="cont_shop">

          <!-- caja de producto -->
          <div th:class="prod" th:each="prod : ${products}">


                <p th:class="nombre" hidden th:text="${prod.name}"></p>
                <p th:class="precio" hidden th:text="${prod.price}"></p>
                <p th:class="codigo" hidden th:text="${prod.id}"></p>

              <img th:class="img_prod" src="../static/img_prod/naranja.png" alt="producto.png" th:src="@{'img_prod/' + ${prod.img}}">
              <div th:class="nombre_prod">
                <h3 th:class="item" th:text="${prod.name}">Naranjas</h3>
              </div>
              <div th:class="precio_prod">
                <p th:class="text_precio">USD <span class="precio" th:text="${prod.price}">0</span> / <span class="unidad" th:text="${prod.unit}">Kg</span></p>
              </div>
              <div th:class="btn_prod">
                <div th:class="incremento" onclick="return false;"><ion-icon name="add-outline" class="btn"></ion-icon></div>
                <div th:class="decremento" onclick="return false;"><ion-icon name="remove-outline" class="btn"></ion-icon></div>
              </div>

        </div>

    <footer></footer>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
    <script src="../static/shop_script.js" type="text/javascript" th:src="@{shop_script.js}"></script>
</html>
